DJANGO_DEBUG=True
DJANGO_SECRET_KEY=test1234
DJANGO_ALLOWED_HOSTS=localhost
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

DATABASE_HOST=database
DATABASE_USER=limitless
DATABASE_PASSWORD=dbpass1234
DATABASE_NAME=limitless
